/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --font-color: #F1B2CE;
  --accent-color: #FF0070;
  --background-color: #000028;
  --title-color: #DB00FF;
}

