/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --font-color: #353430;
  --accent-color: #FF8DCB;
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --background-image: url(./images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root .theme_auto {
    --font-color: #353430;
    --accent-color: #FF8DCB;
    --background-color: #FFF1F7;
    --title-color: #FFC2E6;  
    --background-image: url(./images/cover-image-light.png);
    }
    
    .theme_auto .header__theme-menu-button {
      color: var(--font-color, #353430);
    }
    
    .theme_auto .header__theme-menu-button_active {
      border: 1px solid var(--font-color, #353430);
    }
    
    .theme_auto .decorated-zone::before, .theme_auto .decorated-zone::after {
      border-color: var(--font-color, #353430);
    }
    
    .theme_auto .content__title {
      color: var(--font-color, #353430);
    }
    
    .theme_auto .decorated-text {
      color: var(--font-color, #353430);
    }
    
    .theme_auto .header__decor {
      visibility: hidden;
    }
    
    .theme_auto .content__link:hover {
      border-bottom: 1px solid var(--font-color, #353430);
    }
    
    .theme_auto .header__theme-menu-button:hover {
      border: 1px solid rgba(50, 49, 45, 0.40);
    }
    
    .theme_auto .content__link:focus-visible {
      outline: 1px solid var(--font-color, #353430);
    }
    
    .theme_auto .header__theme-menu-button:focus-visible {
      border-bottom: 1px solid var(--font-color, #353430);
    }
    
}


.theme_light .header__theme-menu-button {
  color: var(--font-color, #353430);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--font-color, #353430);
}

.theme_light .decorated-zone::before, .theme_light .decorated-zone::after {
  border-color: var(--font-color, #353430);
}

.theme_light .content__title {
  color: var(--font-color, #353430);
}

.theme_light .decorated-text {
  color: var(--font-color, #353430);
}

.theme_light .header__decor {
  visibility: hidden;
}

.theme_light .content__link:hover {
  border-bottom: 1px solid var(--font-color, #353430);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.theme_light .content__link:focus-visible {
  outline: 1px solid var(--font-color, #353430);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--font-color, #353430);
}
